<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>Clear Browser Cookies and Cache</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="App/Content/Images/Chrome.png" type="image/png" />

    <!-- Chrome and Safari Pinned Site App -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Resources -->
    <link href="App/Content/Sass/all.css?v=1.2" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <!-- IOS Pinned Site App-->
    <link rel="apple-touch-icon-precomposed" href="Content/icon.png" />

    <style>
        .options-list__img {
            -webkit-filter: grayscale(90%) blur(1px);
            filter: grayscale(90%) blur(1px);
        }

        .selected-browser {
            -webkit-filter: grayscale(0) blur(0);
            filter: grayscale(0) blur(0);
        }
    </style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-36671151-4', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="BaseCtrl as base">
    <div class="container">
        <header>
            <h1>How do I clear my Browser Cookies and Cache?</h1>
        </header>
        <main>
            <p>
                Sometimes websites store data on your web browser to give you a better browsing experience. Sometimes things can go wrong and
                clearing your browser cookies and cache can help fix those issues.
            </p>
            <div ng-cloak ng-if="base.browser.name.length && !base.showOptions">
                <div class="browser-details">
                    <img ng-src="{{base.browser.image}}" class="browser-image" />
                    <h2>
                        It looks like you are using {{base.browser.name}}<br />
                        <small>Version: {{base.browser.version}}</small>
                        <small ng-click="base.showOptions = !base.showOptions" ng-show="!base.showOptions" class="switch-link">Not using {{base.browser.name}}?</small>
                    </h2>
                </div>
                <img ng-src="{{base.browser.video}}" ng-show="!base.showOptions" class="browser-video" ng-class="base.bowser.android === true || base.bowser.name === 'iPhone'? 'phone-width' : ''" />
            </div>
            <strong ng-cloak ng-show="!base.browser.name">
                Oh No! We currently do not reconize your device. Please check back soon for updates!
            </strong>
            <div ng-cloak ng-if="base.showOptions || !base.browser.name">
                <div ng-show="base.browser.name" ng-click="base.showOptions = !base.showOptions" class="auto-link">Auto Detect My Browser</div>
                <div class="options-list">
                    <div class="options-list__browser">
                        <img ng-click="base.getSelectedBrowser('Chrome')" ng-class="base.selectedBrowser.vendor === 'Chrome' ? 'selected-browser' : ''" src="App/Content/Images/Chrome.png" title="Chrome" class="options-list__img" />
                        <ul class="options-list__browser-options">
                            <li ng-click="base.getSelectedBrowser('Chrome')">Windws/Mac</li>
                            <li ng-click="base.getSelectedBrowser('Android')">Android</li>
                        </ul>
                    </div>
                    <div class="options-list__browser">
                        <img ng-click="base.getSelectedBrowser('Firefox')" ng-class="base.selectedBrowser.vendor === 'Firefox' ? 'selected-browser' : ''" src="App/Content/Images/Firefox.png" title="Firefox" class="options-list__img" />
                        <ul class="options-list__browser-options">
                            <li ng-click="base.getSelectedBrowser('Firefox')">Windows</li>
                        </ul>
                    </div>
                    <div class="options-list__browser">
                        <img ng-click="base.getSelectedBrowser('Safari')" ng-class="base.selectedBrowser.vendor === 'Safari' ? 'selected-browser' : ''" src="App/Content/Images/Safari.png" title="Safari" class="options-list__img" />
                        <ul class="options-list__browser-options">
                            <li ng-click="base.getSelectedBrowser('Safari')">Mac</li>
                            <li ng-click="base.getSelectedBrowser('iPad')">iPad</li>
                            <li ng-click="base.getSelectedBrowser('iPhone')">iPhone</li>
                        </ul>
                    </div>
                    <div class="options-list__browser">
                        <img ng-click="base.getSelectedBrowser('Internet Explorer')" ng-class="base.selectedBrowser.vendor === 'Internet Explorer' ? 'selected-browser' : ''" src="App/Content/Images/InternetExplorer.png" title="Internet Explorer" class="options-list__img" />
                        <ul class="options-list__browser-options">
                            <li ng-click="base.getSelectedBrowser('Internet Explorer')">ie9 - ie11</li>
                            <li ng-click="base.getSelectedBrowser('Internet Explorer 8')">ie8</li>
                        </ul>
                    </div>
                    <div class="options-list__browser">
                        <img ng-click="base.getSelectedBrowser('Opera')" ng-class="base.selectedBrowser.vendor === 'Opera' ? 'selected-browser' : ''" src="App/Content/Images/Opera.png" title="Opera" class="options-list__img" />
                        <ul class="options-list__browser-options">
                            <li ng-click="base.getSelectedBrowser('Opera')">Windows</li>
                        </ul>
                    </div>
                </div>
                <img ng-src="{{base.selectedBrowser.video}}" ng-show="base.selectedBrowser.name" class="browser-video" ng-class="base.selectedBrowser.name === 'Android' || base.selectedBrowser.name === 'Safari on iPhone'? 'phone-width' : ''" />
            </div><br />
            <a href="https://github.com/splintercode" target="_blank" class="float-right">Built by Cory Bateman</a>
        </main>
        <footer>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- losemycookies.com -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5376316241677971"
                 data-ad-slot="8767276044"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </footer>
    </div>
    <script src="App/JavaScript/Config/bundle.js?v=1.2" async></script>
</body>
</html>