<section>
    <div class="browser-details">
        <img src="/assets/images/internet-explorer.png" class="browser-image" />
        <h2>
            It looks like you are using Internet Explorer 8<br />
            <small>Version: {{base.browser.version}}</small>
            <a href="#/unknown-browser" class="btn-link">Not using Internet Explorer 8?</a>
        </h2>
    </div>
    <img src="/assets/images/gifs/internet-explorer-8.gif" alt="Internet Explorer 8 Browser" class="browser-video" />
</section>