/*!
    Cory Bateman http://www.corycode.me 
    MIT License http://opensource.org/licenses/MIT 
*/

$full-width-max: 48em;
$full-width-app: 48.125em;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    background: #FFF;
    color: #2d2d2d;
    overflow-x: hidden;
    padding: 6px;
}

*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.ng-hide {
    /* this is just another form of hiding an element */
    display: block !important;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

h1, h2, p {
    font-weight: 100;
}

p {
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a {
    color: #2d2d2d;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: #2d2d2d;
        text-decoration: none;
    }
}

header {
    padding-top: 24px;
}

main {
}

footer {
    margin-top: 18px;
}

h1 {
    font-size: 2em;

    @include respond-min(600px) {
        font-size: 2.2em;
    }
}

h2 {
    display: inline-block;
    position: absolute;
    left: 100px;
    font-size: 1.2em;
    margin-top: 13px;

    @include respond-min(600px) {
        font-size: 1.6em;
    }
}

.browser-details {
    position: relative;
    min-height: 120px;
}

.browser-image {
    width: 100%;
    max-width: 90px;
    position: absolute;
    left: 0;
    top: 0;
}

.browser-video {
    width: 100%;
    margin: 0 auto;
    display: block;
    clear: both;
}

.phone-width {
    max-width: 420px;
}

.switch-link, .auto-link {
    font-size: 0.55em;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.auto-link {
    font-size: 1.4em;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.options-list {
    margin: 30px auto;
    width: 100%;
    max-width: 660px;
    overflow: auto;
}

.options-list__browser-options {
    padding: 0;
    text-align: center;
    margin: 0;
    list-style: none;

    li {
        cursor: pointer;
        text-decoration: underline;
        padding: 4px 0;

        &:hover {
            text-decoration: none;
        }
    }
}

.options-list__browser {
    width: 32%;
    margin: 0 1% 0 0;
    float: left;

    @include respond-min(600px) {
        width: 19%;
        margin: 0 1% 0 0;
    }
}

.options-list__img {
    width: 100%;
    padding: 0;
    cursor: pointer;
}
