<section>
    <div class="browser-details">
        <img src="/assets/images/safari.png" class="browser-image" />
        <h2>
            It looks like you are using Safari on iPhone<br />
            <small>Version: {{base.browser.version}}</small>
            <a href="#/unknown-browser" class="btn-link">Not using Safari on iPhone?</a>
        </h2>
    </div>
    <img src="/assets/images/gifs/safari-ios8-iphone.gif" alt="Safari Browser for iPhone" class="browser-video phone-width" />
</section>